.search_bar {
    padding-left: 0px;
    padding-right: 0px;
}
@media (max-width:768px) {
    .search_icon {
        padding-left: 5px;
    }
}
.search_icon > .material-icons {
    font-size: 48px;
}
.func_icon {
    position: fixed;
    right: 10px;
    bottom: 60px;
    z-index: 100;
}
.func_icon > .material-icons {
    cursor: pointer;
    opacity: 0.5;
    font-size: 48px;
}
input.article_title {
    width: 100%;
    border: none;
}
table tr {
    cursor: pointer;
}
table .grid_author {
    text-align: center;
}table .grid_regDate {
    text-align: center;
}