<% layout('layout/basic/layout') %>
<% script('lib/app/index.js') %>
<% stylesheet('stylesheets/app/index.css') %>
<div class="container">
    <div class="col-xs-12">
        <div class="bs-component">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>BOARD</span>&nbsp;&nbsp;
                    <span class="badge">0</span>
                    <a href="javascript:;"><i class="material-icons list">&#xE896;</i></a>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-hover ">
                        <colgroup>
                            <col width="10%">
                            <col width="60%">
                            <col width="30%">
                        </colgroup>
                        <tbody>
                        <tr>
                            <td rowspan="3" style="text-align: center">등록된 게시물이 존재하지 않습니다</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>