<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= locals.title %></title>

    <link rel="stylesheet" href="/bootstrap-3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/signin.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div class="container">
    <form class="form-signin" action="/signup_success" method="post">
        <h2 class="form-signin-heading">Sign Up</h2>
        <label for="email" class="sr-only">Email address</label>
        <input type="input" name="email" id="email" class="form-control" placeholder="Email address" autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Password">
        <div class="col-xs-offset-3 col-xs-6">
            <button class="btn btn-lg btn-primary btn-block" type="submit">가입완료</button>
        </div>
    </form>
</div> <!-- /container -->
<footer class="footer">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</footer>

<script src="/lib/jquery/1.11.3/jquery.min.js"></script>
<script src="/bootstrap-3.3.5/js/bootstrap.min.js"></script>
<script src="/lib/app/index.js"></script>
</body>
</html>