<div class="container">
    <div class="row col-xs-12">
        <div class="jumbotron">
            <h1><%= title %></h1>
            <p class="text-primary">HYAKOO is...</p>
            <a href="javascript:;" class="btn btn-primary btn-sm"><h4>더보기</h4></a>
        </div>
    </div>
</div>