<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
            <input type="text" id="article_title" class="article_title" value="<%=articleTitle%>" placeholder="Insert Title" />
        </h4>
    </div>
    <div class="modal-body well bs-component">
        <div class="row">
            <div class="col-xs-12">
                <textarea name="editor" id="editor"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="save">SAVE</button>
        <button type="button" class="btn btn-danger" id="del">DELETE</button>
        <button type="button" class="btn btn-success" id="close" data-dismiss="modal">CLOSE</button>
    </div>
</div><!-- /.modal-content -->