<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Sign up</h4>
    </div>
    <div class="modal-body well bs-component">
        <form class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label for="email" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password2" class="col-lg-2 control-label">Password Confirm</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="password2" placeholder="Password">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary">Back</button>
        <button type="button" class="btn btn-primary">OK</button>
    </div>
</div><!-- /.modal-content -->