<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:;">HYAKOO</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="nav-list intro"><a href="javascript:;">INTRO</a></li>
                    <li class="nav-list board"><a href="javascript:;">BOARD</a></li>
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">LAB<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="nav-list" href="javascript:;">web standard guide</a></li>
                            <li class="divider"></li>
                            <li><a class="nav-list" href="javascript:;">html5</a></li>
                            <li class="divider"></li>
                            <li><a class="nav-list" href="javascript:;">etc</a></li>
                        </ul>
                    </li>
                </ul>
                <!--<form class="navbar-form navbar-left" role="search">-->
                    <!--<div class="form-group">-->
                        <!--<input type="text" class="form-control" placeholder="Search">-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-default">Submit</button>-->
                <!--</form>-->
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="nav-list signin" href="javascript:;">Sign In</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>