<!DOCTYPE html>
<html lang="ko">
<head>
    <%- partial('meta.ejs') %>
    <title><%= title %></title>
    <%- partial('stylesheet.ejs') %>
</head>
<body>
    <section class="header_section">
        <%- partial('header.ejs') %>
    </section>
    <section class="contents_section">
        <%- body %>
    </section>
    <section class="footer_section">
        <%- partial('footer.ejs') %>
    </section>
    <section class="modal_section">
        <div class="modal fade">
            <div class="modal-dialog">
            </div>
        </div>
    </section>
    <%- partial('script.ejs') %>
    <section class="customResource">
        <%- stylesheets %>
        <%- scripts %>
    </section>
</body>
</html>