<link rel="stylesheet" href="/lib/vender/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/stylesheets/app/layout/common.css">