<div class="container">
    <div class="row col-lg-12 col-xs-12">
        <div class="col-lg-11 col-xs-10 search_bar">
            <div class="form-group">
                <!--<label class="control-label" for="focusedInput"></label>-->
                <input class="form-control" id="search_bar" type="text" value="" placeholder="Search">
            </div>
        </div>
        <div class="col-lg-1 col-xs-2 search_icon">
            <i class="material-icons">&#xE8B6;</i>
        </div>
    </div>
    <div class="row col-lg-12 col-xs-12">
        <table class="table table-striped table-hover" id="article_list">
            <colgroup>
                <col width="50%">
                <col width="25%">
                <col width="25%">
            </colgroup>
            <thead>
                <tr>
                    <td>제목</td>
                    <td>글쓴이</td>
                    <td>날짜</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="func_icon">
            <i class="material-icons">&#xE147;</i>
        </div>
    </div>
</div>