html {
    position: relative;
    min-height: 100%;
}
body {
    height: 100%;
    padding-top: 60px;
}
table > thead > tr > td {
    text-align: center;
}

.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.contents_section {
    padding-top: 10px;
    padding-bottom: 50px;
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    text-align: center;
}
.footer .container .text-muted {
    margin: 20px 0;
}

.modal-body {
    margin-bottom: 0;
}